<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
        .my-color{
            background-color: #92a8d1;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">스프링부트</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FreeBoard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid text-center" style="background-color:#00ff00">
    <h1>Index</h1>
    <a href="/hello?name=홍길동">홍길동</a>
    <a href="/hello?name=이길동">이길동</a>
    <a href="/hello?name=박길동">박길동</a>
    <div class="row justify-content-center" >
        <div class="col-md-4 bg-primary">
            <h1>col</h1>
        </div>
        <div class="col-md-4 bg-success">
            <h1>col</h1>
        </div>
    </div>
    <div class="row justify-content-evenly" >
        <div class="col-md-4 bg-primary">
            <h1>col</h1>
        </div>
        <div class="col-md-4 bg-success">
            <h1>col</h1>
        </div>
    </div>
    <div class="row" >
        <div class="col bg-primary">
            <h1>col</h1>
        </div>
        <div class="col bg-success">
            <h1>col</h1>
        </div>
        <div class="col my-color">
            <h1>col</h1>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-2 bg-primary">
            <h1>col</h1>
        </div>
        <div class="col-sm-4 bg-success">
            <h1>col</h1>
        </div>
        <div class="col-sm-6 my-color">
            <h1>col</h1>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-1 bg-primary">
            <h1>col</h1>
        </div>
        <div class="col-lg-6 bg-success">
            <h1>col</h1>
        </div>
        <div class="col-lg-5 my-color">
            <h1>col</h1>
        </div>
    </div>
</div>
</body>
</html>